*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, tahoma;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #efefef;
}
.container{
    margin: 0 auto;
}

section{
    padding: 40px 0 30px;
}
.section-title{
    font-size: 40px;
    color: rgb(57, 101, 151);
    margin-bottom: 60px;
    position: relative;
}

.section-title::before{
    position: absolute;
    bottom: -10px;
    left: 0;
    content: "";
    width: 130px;
    height: 5px;
    border-radius: 5px;
    background-color: rgb(95, 38, 31);
}
.section-title::after{
    position: absolute;
    bottom: -18px;
    left: 0;
    content: "";
    width: 75px;
    height: 5px;
    border-radius: 5px;
    background-color: rgb(95, 38, 31);
}
li{
    list-style: none;
}
/* Start Nav */
nav{
    padding: 10px;
    background-color: rgb(57, 101, 151);
    box-shadow: 0 3px 20px 4px rgb(0 0 0 / 40%);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    transition: .2s;
}

nav.scrolled{
    background-color: rgb(215, 218, 223);
}

nav .container{
    display: flex;
    justify-content: space-between;
}
nav .logo{
    display: flex;
    align-items: center;
}
nav .logo img{
    filter: invert(1);
    margin-right: 10px;
}
nav.scrolled .logo img{
    filter: invert(0);
}

nav .logo p{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}
nav.scrolled .logo p{
    color: rgb(57, 101, 151);
}
nav .links{
    display: flex;
    align-items: center;
    transition: .25s;
}
nav .mneu{
    display: none;
    align-items: center;
}
nav .mneu i{
    font-size: 25px;
    color: #fff;
    cursor: pointer;
}
nav.scrolled .mneu i{
    color: #000;
}
nav .links li{
    margin: 0 20px;
}
nav .links li:last-child{
    margin-right: 0;
}
nav .links li a{
    color: #fff;
    text-decoration: none;
    transition: .1s;
}
nav .links li a:hover{
    color: #ddd;
}
nav.scrolled .links li a{
    color: rgb(57, 101, 151);
    font-weight: 600;
}
nav.scrolled .links li a:hover{
    color: rgb(63, 144, 236);
}
    /* End Nav */
/* Start Header */
header{
    width: 100%;
    height: calc(100vh - 60px);
    background-image:linear-gradient(to top, rgba(0,0,0,.5),rgba(0,0,0,.5)) ,url(images/background.jpg);
    background-position: center;
    background-size: cover;
}
header .container{
    min-height: 100%;
    display: flex;
    align-items: center;
}

header .info h1{
    color: #fff;
    font-size: 70px;
    margin-bottom: 5px;
}
header .info h3{
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 30px;
}
header .info a{
    display: inline-block;
    background-color: rgb(57, 101, 151);
    color: #fff;
    font-size: 18px;
    padding: 12px 10px;
    text-decoration: none;
    border-radius: 3px;
    transition: .25s;
}
header .info a:hover{
    background-color: rgb(78, 135, 201);
}

/* End Header */

/* Start About */
.about .content{
    display: flex;
    justify-content: space-between;
}
.about .content .text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis:70%;
}
.about .content .text p{
    font-size: 18px;
    font-weight: 600;
    color: rgb(77, 77, 77);
}
.about .content .text p span{
    display: inline-block;
    margin-bottom: 18px;
}
.about .content img{
    flex-basis: 30%;
    width: 100px;
    border-radius: 10px;
}
.follow h4{
    color: rgb(57, 101, 151);
    margin-bottom: 20px;
    font-size: 20px;
}
.follow ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px 0 0;
}
.follow ul li a{
    display: inline-block;
    border-radius:50%;
    background-color: rgb(57, 101, 151);
    width: 40px;
    height: 40px;
    line-height: 43px;
    text-align: center;
    transition: .1s;
}
.follow ul li a:hover{
    background-color: rgb(78, 135, 201);
}
.follow ul li i{
    color: #fff;
    font-size: 18px;
}
/* End About */
/* Start Skills */
.skills{
    background-color: rgb(22, 45, 71);
}
.skills h2{
    color: #fff;
}
.skills h2::after,
.skills h2::before{
    background-color: rgb(192, 191, 191);
}
.skill{
    padding: 10px;
    background-color: rgb(78, 135, 201);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 5px;
    /* box-shadow: 2px 2px 10px 1px rgb(0,0,0,.5); */
}
.skill .name{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    width: 120px;
    padding-left: 10px;
}
.skill div{
    height: 50px;
    width: calc(100% - 200px);
    background: rgb(56, 104, 158);
    border-radius: 5px;
    overflow: hidden;
}
.skill div span{
    display: block;
    height: 100%;
    width: 0;
    background-color: rgb(227, 223, 245);
    transition: all 1s ease-in-out;
}
.skill .number{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    width: 40px;
}
/* End Skills */
/* Start Contact */
.contact{
    background-image:linear-gradient(to top, rgba(255, 255, 255, 0.91), rgba(255,255,255,.91)), url(images/world.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact-box{
    display: flex;
    justify-content: space-between;
}
.contact-box .my-information,
.contact-box .contact-input{
    flex: 1;
}
.contact h3{
    font-size: 22px;
    color: rgb(57, 101, 151);
    margin-bottom: 15px;
}
.my-information{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.my-information .info-box{
    margin-top: 20px;
    margin-bottom: 30px;
}
.my-information .info-box li{
    padding-left: 10px;
    margin-bottom: 25px;
    font-size: 18px;
    
}
.my-information .info-box li i{
    font-size: 20px;
    margin-right: 10px;
}
.inputs form *:not(:last-child){
    width: 100%;
    padding: 10px;
    margin: 0 0 15px 0;
    font-size: 17px;
    resize: none;
    border: 1px solid #ccc;
    background-color: rgb(238, 238, 238, .5);
    color: #444;
    outline: none;
    border-radius: 4px;
}
.inputs form button{
    width: 100%;
    padding: 12px 10px;
    font-size: 17px;
    text-align: center;
    background-color: rgb(57, 101, 151);
    border: 0;
    color: #ffffff;
    outline: none;
    transition: .25s;
    border-radius: 4px;
    cursor: pointer;
}
.inputs form button:hover{
    background-color: rgb(78, 135, 201);
}
/* End Contact */
/* Footer */
footer{
    padding: 20px 0;
    background-color: rgb(57, 101, 151);
    color: #fff;
}
footer .container{
    display: flex;
    justify-content: space-between;
}
footer p{
    font-size: 15px;
}
/* Media quiry part */
@media (min-width: 576px) {
    .container{
        width: 540px;
    }
}
@media (max-width : 767.9px){
    .about .content .text p{
        font-weight: 400;
        font-size: 17px;
    }
    .about .content{
        flex-direction: column;
    }
    .about .content img{
        width: 100%;
    }
    .follow{
        margin-bottom: 40px;
    }
    .contact .contact-box{
        flex-direction: column;
    }
}
 @media (min-width: 768px) { /* mediam => Tablit */
    .container{
        width: 720px;
    }
}
@media (max-width: 991.9px){
    .my-information .info-box li{
        font-size: 16px;
        font-weight: 400;
    }
}
@media (min-width: 992px){
    .container{
        width: 960px;
    }
}
@media (min-width: 1200px) { /* small => Landscape phone */
    .container{
        width: 1170px;
    }
}
@media (max-width: 575px) {
    .container{
        width: 100%;
        padding: 0 10px;
    }
    .section-title{
        font-size: 30px;
    }
    .section-title::before{
        width: 70px;
    }
    .section-title::after{
        width: 50px;
    }
    nav .links{
        display: none;
    }
    nav .mneu{
        display: flex;
    }
    header .info h1{
        font-size: 30px;
    }
    header .info h3{
        font-size: 20px;
    }
    header .info a{
        font-size: 13px;
        padding: 6px 5px;
    }
    .about .content .text p{
        font-size: 15px;
        font-weight: normal;
    }
    .follow h4,
    .contact h3{
        font-size: 18px;
    }
    .follow ul li a{
        width: 30px;
        height: 30px;
        line-height: 33px;
    }
    .skill{
        flex-wrap: wrap;
    }
    .skill .name{
        width: 100%;
        margin-bottom: 10px;
    }
    .skill div{
        width: calc(100% - 50px);
        height: 25px;
    }
    footer p{
        font-size: 12px;
    }
    
    nav .links.active,
    nav.scrolled .links.active{
        display: block;
        width: 90%;
        position: absolute;
        top: 60px;
        z-index: 99;
        right: -10px;
        text-align: center;
        background-color: rgb(243, 243, 243);
        box-shadow: -6px 6px 17px -5px rgb(77 77 77);
    }
    nav .links.active li,
    nav.scrolled .links.active li{
        color: #000;
        padding: 25px 0;
        border-bottom: 1px solid #cccccc55;
    }
    nav .links.active li a,
    nav.scrolled .links.active li a{
        color: rgb(57, 101, 151);
        font-weight: 600;
    }
}
